<footer>
    <div class="footer">
        <div class="footer-details grid wide">
            <div nz-row [nzGutter]="40">
                <div class="detail-text" nz-col nzXs="24" nzSm="24" nzMd="10" nzLg="6" nzXl="6">
                    <p class="detail-title">Tìm cửa hàng từ xa</p>
                    <ul class="detail-title-box">
                        <li>
                            <a class="detail-item" href="/">Tìm cửa hàng gần nhất</a>
                        </li>
                        <li>
                            <a class="detail-item" href="/">Mua hàng từ xa</a>
                        </li>
                        <li>
                            <a class="detail-item" href="/" style="color: red;">Gặp trực tiếp cửa hàng gần nhất (Zalo hoặc gọi điện)</a>
                        </li>
                    </ul>
                </div>
                <div class="detail-text" nz-col nzXs="24" nzSm="24" nzMd="10" nzLg="6" nzXl="6">
                    <ul class="detail-title-box">
                        <li>
                            Gọi mua hàng: <a class="detail-phone" href="tel:1800.2044"> 1800.2044</a> (8h00 - 22h00)
                        </li>
                        <li>
                            Gọi khiếu nại: <a class="detail-phone" href="tel:1800.2063"> 1800.2044 </a> (8h00 - 22h00)
                        </li>
                        <li>
                            Gọi bảo hành: <a class="detail-phone" href="tel:1800.2064">  1800.2044 </a> (8h00 - 22h00)
                        </li>
                    </ul>
                </div>
                <div class="detail-text" nz-col nzXs="24" nzSm="24" nzMd="10" nzLg="6" nzXl="6">
                    <ul class="detail-title-box">
                        <li>
                            <a class="detail-item" href="/"> Mua hàng và thanh toán Online</a>
                        </li>
                        <li>
                            <a class="detail-item" href="/"> Mua hàng trả góp Online</a>
                        </li>
                        <li>
                            <a class="detail-item" href="/"> Tra thông tin đơn hàng</a>
                        </li>
                        <li>
                            <a class="detail-item" href="/"> Tra điểm Smember</a>
                        </li>
                        <li>
                            <a class="detail-item" href="/"> Tra thông tin bảo hành</a>
                        </li>
                        <li>
                            <a class="detail-item" href="/"> Tra cứu hoá đơn điện tử</a>
                        </li>
                        <li>
                            <a class="detail-item" href="/"> Trung tâm bảo hành chính hãng</a>
                        </li>
                        <li>
                            <a class="detail-item" href="/"> Quy định về việc sao lưu dữ liệu</a>
                        </li>
                        <li>
                            <a class="detail-item" href="/"> Dịch vụ bảo hành điện thoại</a>
                        </li>
                    </ul>
                </div>
                <div class="detail-text" nz-col nzXs="24" nzSm="24" nzMd="10" nzLg="6" nzXl="6">
                    <ul class="detail-title-box">
                        <li>
                            <a class="detail-item" href="/"> Quy chế hoạt động</a>
                        </li>
                        <li>
                            <a class="detail-item" href="/"> Chính sách Bảo hành</a>
                        </li>
                        <li>
                            <a class="detail-item" href="/"> Liên hệ hợp tác kinh doanh</a>
                        </li>
                        <li>
                            <a class="detail-item" href="/"> Đơn Doanh nghiệp</a>
                        </li>
                        <li>
                            <a class="detail-item" href="/"> Ưu đãi từ đối tác</a>
                        </li>
                        <li>
                            <a class="detail-item" href="/"> Tuyển dụng</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-text">
            <span class="footer-right">Copyright @2021. Hoàng Văn Thoáng - CCN01.4A</span>
        </div>
    </div>
</footer>