<div class="detail-product">
    <div class="detail-path">
        <ul class="path-list grid wide">
            <li class="path-list-item">
                <i class="item-home fas fa-home"></i>
                <a href="/">Trang chủ</a>
                <i nz-icon nzType="right" nzTheme="outline"></i>
            </li>
            <li class="path-list-item">
                <a href="/">Điện thoại</a>
                <i nz-icon nzType="right" nzTheme="outline"></i>
            </li>
            <li class="path-list-item">
                <a href="/">Apple</a>
                <i nz-icon nzType="right" nzTheme="outline"></i>
            </li>
            <li class="path-list-item">
                <a href="/">iPhone 13 Series</a>
                <i nz-icon nzType="right" nzTheme="outline"></i>
            </li>
            <li class="path-list-item">
                <a href="/">iPhone 13 Pro Max 256GB I Chính hãng VN/A </a>
            </li>
        </ul>
    </div>
    <div class="grid wide">
        <div class="detail-container">
            <div class="detail-container-title">
                <div class="container-title">
                    <p class="title-name">
                        iPhone 13 Pro Max 256GB I Chính hãng VN/A
                    </p>
                    <div class="product-item--rating">
                        <nz-rate class="item--rating" [ngModel]="5" nzDisabled></nz-rate> <span class="title-rate">4 đánh giá</span>
                    </div>
                </div>
                <div class="container-title">
                    <p class="title-item">
                        <i class="fas fa-thumbs-up"></i> Thích 126
                    </p>
                    <p class="title-item">Chia sẻ</p>
                </div>
            </div>
            <div class="product-box" nz-row [nzGutter]="26">
                <div class="" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
                    <div class="product-item-slider">
                        <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideServiceConfig" responsive="responsive" class="">
                            <div class="item-slider bgcolor-gradient" ngxSlickItem>
                                <p class="item-slider-center">
                                    TÍNH NĂNG NỔI BẬT
                                </p>
                                <div class="item-slider-center">
                                    <img class="img-small" src="https://cdn.cellphones.com.vn/media/catalog/product/cache/1/image/300x/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone_13-_pro-5_4_1.jpg" alt="">
                                </div>
                                <div class="title-img">
                                    <p> - Hiệu năng vượt trội - Chip Apple A15 Bionic mạnh mẽ, hỗ trợ mạng 5G tốc độ cao</p>
                                    <p> - Không gian hiển thị sống động - Màn hình 6.7" Super Retina XDR độ sáng cao, sắc nét</p>
                                    <p> - Trải nghiệm điện ảnh đỉnh cao - Cụm 3 camera 12MP, hỗ trợ ổn định hình ảnh quang học</p>
                                    <p> - Tối ưu điện năng - Sạc nhanh 20 W, đầy 50% pin trong khoảng 30 phút</p>
                                </div>
                            </div>
                            <div class="item-slider" ngxSlickItem>
                                <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/1/image/1000x/040ec09b1e35df139433887a97daa66f/i/p/iphone_13-_pro-1_2_1.jpg" alt="">
                            </div>
                            <div class="item-slider" ngxSlickItem>
                                <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/1/image/1000x/040ec09b1e35df139433887a97daa66f/i/p/iphone_13-_pro-4_2_1.jpg" alt="">
                            </div>
                            <div class="item-slider" ngxSlickItem>
                                <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/1/image/1000x/040ec09b1e35df139433887a97daa66f/i/p/iphone_13-_pro-5_4_1.jpg" alt="">
                            </div>
                            <div class="item-slider" ngxSlickItem>
                                <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/1/image/1000x/040ec09b1e35df139433887a97daa66f/i/p/iphone_13-_pro-3_2_1.jpg" alt="">
                            </div>
                            <div class="item-slider" ngxSlickItem>
                                <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/1/image/1000x/040ec09b1e35df139433887a97daa66f/i/p/iphone_13-_pro-2_2_1.jpg" alt="">
                            </div>
                            <div class="item-slider" ngxSlickItem>
                                <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/1/image/1000x/040ec09b1e35df139433887a97daa66f/i/p/iphone-13-pro-max-8_1_1.jpg" alt="">
                            </div>
                            <div class="item-slider" ngxSlickItem>
                                <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/1/image/1000x/040ec09b1e35df139433887a97daa66f/i/p/iphone-13-pro-max-10_1_1.png" alt="">
                            </div>
                            <div class="item-slider" ngxSlickItem>
                                <img csrc="https://cdn.cellphones.com.vn/media/catalog/product/cache/1/image/1000x/040ec09b1e35df139433887a97daa66f/i/p/iphone-13-pro-max-9_1_1.jpg" alt="">
                            </div>
                            <div class="item-slider" ngxSlickItem>
                                <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/1/image/1000x/040ec09b1e35df139433887a97daa66f/s/p/spa_800x800_promax_2.png" alt="">
                            </div>
                            <div class="item-slider" ngxSlickItem>
                                <img src="https://cdn.cellphones.com.vn/media/catalog/product/cache/1/image/1000x/040ec09b1e35df139433887a97daa66f/3/_/3_51_3.jpg" alt="">
                            </div>
                        </ngx-slick-carousel>
                    </div>
                    <div class="black-friday">
                        <img src="https://cdn.cellphones.com.vn/media/wysiwyg/KV_400X100.png" alt="">
                    </div>
                </div>
                <div class="product-item" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
                    <div class="product-item-middle">
                        <p class="item-middle-sale">
                            Trả góp 0%
                        </p>
                        <div>
                            <p class="special-price">
                                33.990.000 ₫
                            </p>
                            <p class="old-price">
                                34.990.000 ₫
                            </p>
                        </div>
                        <div class="item-middle-price">
                            <div class="price-detail">
                                <p>1TB</p>
                                <span>46.590.000 ₫</span>
                            </div>
                            <div class="price-detail">
                                <p>512GB</p>
                                <span>42.590.000 ₫</span>
                            </div>
                            <div class="price-detail">
                                <p>256GB</p>
                                <span>37.990.000 ₫</span>
                            </div>
                            <div class="price-detail active-price">
                                <p>128GB</p>
                                <span>33.990.000 ₫</span>
                            </div>
                        </div>
                        <div class="middle-price-title">
                            <p>Chọn màu để xem giá và chi nhanh có hàng</p>
                        </div>
                        <div class="item-middle-price">
                            <div class="price-detail-color">
                                <div>
                                    <img class="img-price" src="https://cdn.cellphones.com.vn/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone_13-_pro-3_7.jpg" alt="">
                                </div>
                                <div>
                                    <p>Bạc</p>
                                    <span>46.590.000 ₫</span>
                                </div>
                            </div>
                            <div class="price-detail-color">
                                <div>
                                    <img class="img-price" src="https://cdn.cellphones.com.vn/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone_13-_pro-2_1_6.jpg" alt="">
                                </div>
                                <div>
                                    <p>Vàng</p>
                                    <span>34.990.000 ₫</span>
                                </div>
                            </div>
                            <div class="price-detail-color active-price">
                                <div>
                                    <img class="img-price" src="https://cdn.cellphones.com.vn/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone_13-_pro-4_7.jpg" alt="">
                                </div>
                                <div>
                                    <p>Xám</p>
                                    <span>33.990.000 ₫</span>
                                </div>
                            </div>
                            <div class="price-detail-color">
                                <div>
                                    <img class="img-price" src="https://cdn.cellphones.com.vn/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone_13-_pro-5_5.jpg" alt="">
                                </div>
                                <div>
                                    <p>Xanh</p>
                                    <span>34.590.000 ₫</span>
                                </div>
                            </div>
                        </div>

                        <div class="item-middle-km">
                            <p class="middle-km-title">
                                <i class="fas fa-gift"></i> Khuyến Mãi</p>
                            <div class="middle-km-detail">
                                <div>
                                    <span>1</span>
                                </div>
                                <div>
                                    <p>Giảm 1 triệu khi thanh toán qua ví Moca, thẻ tín dụng ACB, mPos, VIB, BIDV, Shinhan, Standard Charter (số lượng có hạn) <a href="/">(xem chi tiết)</a></p>
                                </div>
                            </div>
                            <div class="middle-km-detail">
                                <div>
                                    <span>2</span>
                                </div>
                                <div>
                                    <p>Thu cũ lên đời - Trợ giá 1 triệu <a href="/">(xem chi tiết)</a></p>
                                </div>
                            </div>
                            <div class="middle-km-test">
                                <div class="middle-km-test-box">
                                    <img src="https://cellphones.com.vn/media/icon/icon_fire.png" alt="">
                                    <p> DANH SÁCH CỬA HÀNG ĐÃ CÓ HÀNG TRẢI NGHIỆM</p>
                                </div>
                            </div>
                        </div>
                        <div class="item-middle-call" (click)="OpenBuy()">
                            <p>MUA NGAY</p>
                            <span>(Giao hàng tận nơi - Giá tốt - An toàn)</span>
                        </div>
                        <div class="item-middle-blue">
                            <div class="blue-text">
                                <p>TRẢ GÓP 0%</p>
                                <span>(Xét duyệt qua điện thoại)</span>
                            </div>
                            <div class="blue-text mgr-l">
                                <p>TRẢ GÓP QUA THẺ</p>
                                <span>(Visa, Master Card, JCB)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
                    <div class="select-locatin">
                        <select class="location" id="location">
                  <option value="Hà Nội">Hà Nội</option>
                  <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                  <option value="Bình Dương">Bình Dương</option>
                  <option value="Hải Dương">Hải Dương</option>
                  <option value="Hải Phòng">Hải Phòng</option>
                  <option value="Bắc Ninh">Bắc Ninh</option>
                  <option value="Vĩnh Phúc">Vĩnh Phúc</option>
                </select>
                        <select class="location mgr-l" id="location">
                  <option value="">Quận / Huyện</option>
                  <option value="Quận Hoàn Kiếm">Quận Hoàn Kiếm</option>
                  <option value="Quận Long Biên">Quận Long Biên</option>
                  <option value="Quận Hai Bà Trưng">Quận Hai Bà Trưng</option>
                  <option value="Quận Cầu Giấy">Quận Cầu Giấy</option>
                  <option value="Quận Đống Đa">Quận Đống Đa</option>
                  <option value="Quân Hoàng Mai">Quân Hoàng Mai</option>
                  <option value="Quân Thanh Xuân">Quân Thanh Xuân</option>
                </select>
                    </div>
                    <p class="locatin-tite">
                        Có 9 cửa hàng có sẵn sản phẩm
                    </p>
                    <div class="location-shop">
                        <ul class="list-shop">
                            <li class="phone-shop">
                                <span class="call-shop">
                                <i class="fas fa-phone-alt"></i>
                                <a href="tel:0123456789">1234567890</a>
                              </span> |
                                <a href="#" class="location-detail"> 124 - 126 - 128 Lạc Long Quân, P. Bưởi, Q. Tây Hồ</a>
                            </li>
                            <li class="phone-shop">
                                <span class="call-shop">
                                <i class="fas fa-phone-alt"></i>
                                <a href="tel:0123456789">1234567890</a>
                              </span> |
                                <a href="#" class="location-detail"> 252 Ngô Gia Tự, Phường Đức Giang, Quận Long Biên, Hà Nội</a>
                            </li>
                            <li class="phone-shop">
                                <span class="call-shop">
                                <i class="fas fa-phone-alt"></i>
                                <a href="tel:0123456789">1234567890</a>
                              </span> |
                                <a href="#" class="location-detail"> 306 Cầu Giấy, P. Dịch Vọng, Q. Cầu Giấy</a>
                            </li>
                            <li class="phone-shop">
                                <span class="call-shop">
                                <i class="fas fa-phone-alt"></i>
                                <a href="tel:0123456789">1234567890</a>
                              </span> |
                                <a href="#" class="location-detail"> 160 Nguyễn Khánh Toàn, P. Quan Hoa, Q .Cầu Giấy</a>
                            </li>
                            <li class="phone-shop">
                                <span class="call-shop">
                                <i class="fas fa-phone-alt"></i>
                                <a href="tel:0123456789">1234567890</a>
                              </span> |
                                <a href="#" class="location-detail"> 21 Thái Hà, P. Trung Liệt, Q. Đống Đa</a>
                            </li>
                            <li class="phone-shop">
                                <span class="call-shop">
                                <i class="fas fa-phone-alt"></i>
                                <a href="tel:0123456789">1234567890</a>
                              </span> |
                                <a href="#" class="location-detail"> 384 Xã Đàn, Nam Đồng, Quận Đống Đa</a>
                            </li>
                            <li class="phone-shop">
                                <span class="call-shop">
                                <i class="fas fa-phone-alt"></i>
                                <a href="tel:0123456789">1234567890</a>
                              </span> |
                                <a href="#" class="location-detail">133 Thái Hà, P. Trung Liệt, Q, Đống Đa</a>
                            </li>
                            <li class="phone-shop">
                                <span class="call-shop">
                                <i class="fas fa-phone-alt"></i>
                                <a href="tel:0123456789">1234567890</a>
                              </span> |
                                <a href="#" class="location-detail"> 51 Đại Cồ Việt, Phường Lê Đại Hành, Quận Hai Bà Trưng</a>
                            </li>
                            <li class="phone-shop">
                                <span class="call-shop">
                                <i class="fas fa-phone-alt"></i>
                                <a href="tel:0123456789">1234567890</a>
                              </span> |
                                <a href="#" class="location-detail"> 546 Trương Định, P. Tân Mai, Q. Hoàng Mai - Ngã tư Tân Mai, Trương Định</a>
                            </li>
                        </ul>
                    </div>
                    <div class="detail-product-e">
                        <p class="detail-product-e-title">Thông tin máy</p>
                        <div class="detail-title">
                            <div class="detail-title-item">
                                <i class="fas fa-mobile-alt"></i>
                                <p>Nguyên hộp, đầy đủ phụ kiện từ nhà sản xuất</p>
                            </div>
                            <div class="detail-title-item">
                                <i class="fas fa-shield-virus"></i>
                                <p>Bảo hành 12 tháng tại trung tâm bảo hành chính hãng Apple Việt Nam. 1 ĐỔI 1 trong 30 ngày nếu có lỗi phần cứng nhà sản xuất. <a href="">(xem chi tiết)</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
